Repository MeshInspector/MeshLib, pull requests merged in 2024-09, with the labels that each got.

#3233 Enable CI build for Ubuntu 24 ARM
  .github/workflows/build-test-ubuntu-arm64.yml
  .github/workflows/prepare-images.yml
  scripts/devops/release_table.txt
  thirdparty/CMakeLists.txt
Labels: skip-image-rebuild

#3304 makeSignedByWindingNumber: change only sign not magnitude of distances
  .github/workflows/build-test-fedora.yml
  .github/workflows/build-test-macos.yml
  .github/workflows/build-test-ubuntu-arm64.yml
  .github/workflows/build-test-ubuntu-x64.yml
  .github/workflows/build-test-windows.yml
  source/MRMesh/MRVDBConversions.cpp
  source/MRMesh/MRVDBConversions.h
Labels: upload-test-artifacts

#3315 Save in textual formats: keep single precision
  .github/workflows/build-test-fedora.yml
  .github/workflows/build-test-macos.yml
  .github/workflows/build-test-ubuntu-arm64.yml
  .github/workflows/build-test-ubuntu-x64.yml
  .github/workflows/build-test-windows.yml
  source/MRMesh/MRLinesSave.cpp
  source/MRMesh/MRMeshSave.cpp
  source/MRMesh/MRPointsSave.cpp
Labels: upload-test-artifacts

#3323 Fix examples build on Ubuntu 20.04
  .github/workflows/test-distribution.yml
Labels: full-ci

#3344 try .NET Framwork 4.7.1 target in MR::DotNet
  readme.md
  readme_dotnet.md
  scripts/generate_nuget_spec.py
  source/MRDotNet/MRDotNet6.vcxproj
  source/MRDotNet/MRDotNet6.vcxproj.filters
  source/MRDotNet/MRDotNetFramework471.vcxproj
  source/MRDotNet/MRDotNetFramework471.vcxproj.filters
  source/MRDotNetTest/Directory.Build.props
  source/MRDotNetTest/MRDotNetTest.csproj
  source/MeshLibDotNet.sln
Labels: full-ci

#3385 Mrbind ci
  .github/workflows/build-test-fedora.yml
  .github/workflows/build-test-macos.yml
  .github/workflows/build-test-ubuntu-arm64.yml
  .github/workflows/build-test-ubuntu-x64.yml
  .github/workflows/build-test-windows.yml
  .github/workflows/pip-build.yml
  .github/workflows/prepare-images.yml
  .gitignore
  docker/ubuntu20Dockerfile
  docker/ubuntu22Dockerfile
  docker/ubuntu24Dockerfile
  scripts/mrbind/README.md
  scripts/mrbind/common_compiler_parser_flags.txt
  scripts/mrbind/compiler_only_flags.txt
  scripts/mrbind/extra_headers/instantiate_templates.h
  scripts/mrbind/generate.mk
  scripts/mrbind/generate_win.bat
  scripts/mrbind/helpers.cpp
  scripts/mrbind/install_deps_macos.sh
  scripts/mrbind/install_deps_ubuntu.sh
  scripts/mrbind/install_deps_windows_msys2.bat
  scripts/mrbind/install_mrbind.bat
  scripts/mrbind/install_mrbind_macos.sh
  scripts/mrbind/install_mrbind_ubuntu.sh
  scripts/mrbind/install_mrbind_windows_msys2.bat
  scripts/mrbind/mrbind_target_pybind11.h
  scripts/mrbind/preferred_clang_version.txt
  scripts/wheel/build_wheel.py
  source/MRMesh/MRContour.h
  source/MRMesh/MRExpected.h
  source/MRMesh/MRLog.h
  source/MRMesh/MRMesh.vcxproj
  source/MRMesh/MRMesh.vcxproj.filters
  source/MRPch/MRBindingMacros.h
  source/MRPch/MRFmt.h
  source/MRPch/MRPch.vcxproj
  source/MRPch/MRPch.vcxproj.filters
  source/MRVoxels/MRVDBFloatGrid.h
  test_python/helper/__init__.py
  test_regression/module_helper/__init__.py
Labels: skip-image-rebuild
