Repository MeshInspector/MeshLib, pull requests merged in 2025-10, with the labels that each got.

#5173 linux-arm: use github runners
  .github/actions/get-aws-instance-type/action.yml
  .github/workflows/build-test-emscripten.yml
  .github/workflows/build-test-linux-vcpkg.yml
  .github/workflows/build-test-ubuntu-arm64.yml
  .github/workflows/pip-build.yml
  .github/workflows/prepare-images.yml
  .github/workflows/release-tests.yml
  .github/workflows/update-docs-manual.yml
Labels: full-ci, test-pip-build, disable-build-windows, disable-build-ubuntu-x64, disable-build-macos

#5174 macOS: remove -stdlib=libc++ for C compatibility
  cmake/Modules/ConfigureHomebrew.cmake
  source/MRTestC/CMakeLists.txt
  source/MRTestC2/CMakeLists.txt
Labels: disable-build-windows, disable-build-ubuntu-x64, disable-build-ubuntu-arm64, disable-build-emscripten, disable-build-linux-vcpkg

#5194 replace boost::dynamic_bitset with our own implementation
  source/MRCuda/MRCudaSolarRadiation.cpp
  source/MRMesh/MRBitSet.cpp
  source/MRMesh/MRBitSet.h
  source/MRMesh/MRStreamOperators.cpp
  source/MRMesh/MRStreamOperators.h
  source/MRMeshC/MRMeshFwd.h
  source/MRPch/MRPch.h
Labels: disable-build-ubuntu-x64, disable-build-macos, disable-build-emscripten, disable-build-linux-vcpkg

#5199 macos-arm: use brew clang
  .github/workflows/build-test-macos.yml
Labels: disable-build-windows, disable-build-ubuntu-x64, disable-build-ubuntu-arm64, disable-build-emscripten, disable-build-linux-vcpkg
