Repository MeshInspector/MeshLib, pull requests merged in 2025-02, with the labels that each got.

#4007 add ubuntu24 GCC Release build, create rpm from Clang-17
  .github/workflows/build-test-fedora.yml
  .github/workflows/matrix/ubuntu-x64-full-config.json
  .github/workflows/matrix/ubuntu-x64-minimal-config.json
  source/MRMesh/MRMeshFwd.h
Labels: full-ci

#4066 Skip pybind shims when making the nuget package.
  scripts/generate_nuget_spec.py
Labels: full-ci

#4094 Doc: Add instructions for using CMake on Windows
  doxygen/general_pages/CppSetupGuide.dox
Labels: update-doc-only

#4093 Allow unsupported Cuda compiler in Windows in CMake.
  source/MRCuda/CMakeLists.txt
Labels: full-ci, skip-image-rebuild, disable-build-ubuntu-x64, disable-build-ubuntu-arm64, disable-build-fedora, disable-build-macos, disable-build-emscripten

#4099 wasm: add dbus-x11 to image
  docker/emscriptenDockerfile
Labels: full-ci

#4118 Fail the job on MSVC error during Build step
  .github/workflows/build-test-windows.yml
Labels: disable-build-ubuntu-x64, disable-build-ubuntu-arm64, disable-build-fedora, disable-build-macos, disable-build-emscripten

#4114 Don't run C# tests when using CMake.
  .github/workflows/build-test-windows.yml
Labels: full-ci, disable-build-ubuntu-x64, disable-build-ubuntu-arm64, disable-build-fedora, disable-build-macos, disable-build-emscripten

#4131 Add Mesh and Math types articles to dox
  doxygen/general_pages/BasicMathTypesOverview.dox
  doxygen/general_pages/MeshStructureOverview.dox
  doxygen/layout_templates/base_struct.xml
Labels: update-doc-only

#4135 Doc: Add new pages
  doxygen/general_pages/FileFormatSupport.dox
  doxygen/general_pages/HowtoAddPluginOverview.dox
  doxygen/layout_templates/base_struct.xml
Labels: update-doc-only

#4069 Added test on openning dcm folders
  test_regression/test_conversion/test_dcm_folder.py
Labels: upload-test-artifacts

#4145 fix upload release pips
  .github/workflows/pip-build.yml
Labels: disable-build-windows, disable-build-ubuntu-x64, disable-build-ubuntu-arm64, disable-build-fedora, disable-build-macos, disable-build-emscripten

#4144 Default to the latest image in pip-build.
  .github/workflows/pip-build.yml
Labels: test-pip-build, disable-build-windows, disable-build-ubuntu-x64, disable-build-ubuntu-arm64, disable-build-fedora, disable-build-macos, disable-build-emscripten

#4152 Wasm: Add debug output during CI testing
  .github/workflows/build-test-emscripten.yml
Labels: skip-image-rebuild, disable-build-windows, disable-build-ubuntu-x64, disable-build-ubuntu-arm64, disable-build-fedora, disable-build-macos

#4161 CI: Don't fail on missing artifacts
  .github/workflows/update-docs.yml
Labels: update-doc-only

#4171 Copy resource images to whl files
  scripts/wheel/build_wheel.py
Labels: test-pip-build, disable-build-windows, disable-build-ubuntu-x64, disable-build-ubuntu-arm64, disable-build-fedora, disable-build-macos, disable-build-emscripten

#4175 Add python dcm sample
  doxygen/examples/Examples.dox
  doxygen/examples/OpenDicomFiles.dox
  examples/python-examples/OpenDicomFiles.dox.py
  test_regression/test_conversion/test_dcm_folder.py
  test_regression/test_other/test_matrix3f.py
Labels: update-doc-only

#4170 Add initial vcpkg support on Linux
  CMakeLists.txt
  docker/fedora39Dockerfile
  docker/ubuntu20Dockerfile
  docker/ubuntu22Dockerfile
  docker/ubuntu24Dockerfile
  source/MRCommonPlugins/CMakeLists.txt
  source/MRCuda/CMakeLists.txt
  source/MREmbeddedPython/CMakeLists.txt
  source/MRIOExtras/CMakeLists.txt
  source/MRMesh/CMakeLists.txt
  source/MRPch/CMakeLists.txt
  source/MRSymbolMesh/CMakeLists.txt
  source/MRTest/CMakeLists.txt
  source/MRViewer/CMakeLists.txt
  source/MRVoxels/CMakeLists.txt
  source/imgui/CMakeLists.txt
  source/meshconv/CMakeLists.txt
  source/mrmeshnumpy/CMakeLists.txt
  source/mrmeshpy/CMakeLists.txt
  source/mrviewerpy/CMakeLists.txt
  thirdparty/CMakeLists.txt
Labels: skip-image-rebuild
